* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #484848;
}

.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #ff5a5f;
  font-weight: 400;
}

main {
  margin: 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a.home {
  color: #ff5a5d;
  text-decoration: none;
}

.block-title {
  margin: 0 3rem;
}

.block-title h2 {
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: solid 1px #484848;
}

.note-link {
  color: #484848;
  text-decoration: none;
}

.note {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.note:hover {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.note-title {
  font-size: 25px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
}

.note-desc {
  display: block;
}

@media only screen and (max-width: 500px) {
  main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
}
