* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #484848;
}

main {
  margin: 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.note {
  margin: 1rem;
  padding: 1rem;
}

.note-title {
  font-size: 20px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
}

.note-desc {
  display: block;
}

@media only screen and (max-width: 500px) {
  main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
}
