<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Notes App</title>
  </head>
  <body>
    <div class="header">
      <h2>Ryan Graham</h2>
      <a class="home" href="{% url 'notes-list' %}">Home</a>
    </div>
    <div class="block-title">
      <h2>My Notes.</h2>
    </div>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
