<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Notes App</title>
  </head>
  <body>
    <main>
      <h2>Hello World</h2>
      {% for note in notes.values %}

      <div class="note">
        <h4 class="note-title">{{note.title}}</h4>
        <p class="note-desc">{{note.body}}</p>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
